body{
    margin: 0;
    font-family: "Quicksand-Regular";
    background: #E5E5E5;
}
header{
    width: 100%;
    background: #53BA67;
    position: fixed;   
}

#toggle{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid gray;
}
header label:hover{
    cursor: pointer;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li a{
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 20px 20px;
    text-decoration:none; 
    color: #ffffff;
}

nav ul li a:hover{
    color: #50B363;
    background: #ffffff;;
}

a:focus, a:focus * { 
    outline: none !important; 
}

@media (max-width:1200px){
  
    header label{
        display: block;
    }
   
    .menu{
        position: absolute;
        background: #53BA67;
        width: 100%;
        margin-left: -100%;
        transition: all 0.05s;
    }

    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #ffffff;
    }
    #toggle:checked + .menu{
        margin: 0;
    }
    
    section.influencias , section.novela, section.poesia{
        width: 100%;
    }
    
}

.sect1{

    width: 100%;
    margin: 0 auto;
    height:100vh;
    background: url(/imagenes/fondo_header.png) no-repeat;
    background-size: cover;
    background-position: center; 
    margin-bottom: 50px;
   
}

main{
    width: 60%;
    margin:  0 auto;
    background: #ffffff;
    text-align: justify;
   

    border-block-start-style:solid;
    border-block-start-color:#E5E5E5;
    border-block-start-width: 150px; 
    
}


.main_index{
    width: 60%;
    margin:  0 auto;
    background: #ffffff;
    text-align: justify;

   
    border-block-start-width: 0; 
}
article{
    padding: 20px 5%;
    padding-top: 50px;;
    overflow: hidden;
   
}
h2{
    border-block-end-style:solid;
    border-block-end-color:#343432;
    border-block-end-width: 5px; 
    background: #E5E5E5;
    font-family: LibreBaskerville-Regular;
    color: #343432;
    font-size: 30px;
}
.footer-copy-redes{
    width: 60%;
    margin:  0 auto;
    background:#343432;
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
.main-copy-redes .footer-autor{
    width: 70%;
    color: #fff;
    text-align: center;  
}

.main-copy-redes .footer-redes{
    width: 30%;
    flex-wrap: wrap;
}

h1{
    font-family: LibreBaskerville-Regular;
    text-align: center;
    font-size: 35px;
}
.biblio-citas{
    padding-bottom: 0;
}
span{
    font-size: 40px;;
    color: #53BA67;
    text-shadow: 0  1px 1px #343432;
    font-family: 'Times New Roman', Times, serif;

}
.citas-frases{
    padding: 0 20px ;
    
    font-weight: bold;
}      
.citas-frases ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

.citas-frases li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #53BA67;
    color: #FFF;
    transition: all .2s ease-in-out;
}




.influencias, .poesia, .novela{
    float: left;
    width: 30%;
    margin:1.5%;
    background: #E5E5E5;
    border-block-end-style:solid;
    border-block-end-color:#343432;
    border-block-end-width: 5px; 
    
}


.obra-fila1{
    overflow: hidden;
    
}

.cuentos, .ensayo-critica{
    width: 80%;
    margin: 0 auto;
    background: #E5E5E5;
    border-block-end-style:solid;
    border-block-end-color:#343432;
    border-block-end-width: 5px; 
    margin-bottom: 20px;

}

.obra h3{
    background: #50B363;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.obra-fila1 p{
    margin:8%;

}

section.cuentos  ul, section.ensayo-critica ul {
    list-style: none;
}
section.cuentos p , section.ensayo-critica p{
    width: 70%;
    margin: 0 auto;
  
}

section.cuentos p , section.ensayo-critica p{
    width: 90%;
    margin: 0 auto;
  
}

section.cuentos h4 , section.ensayo-critica h4{
    width: 80%;
    margin: 0 auto;
  
    
}
.img_derecha{
    float: right;
    width: 50%;
    margin: 30px;
}


.img_izquierda{
    float: left;
    width: 50%;
    margin: 30px;
}
p.p-centro{
    text-align: center;
}

p.p-izquierda{
    text-align: left;
}
p.p-derecha{
    text-align: right;
}
p.subencabezado{
    text-align:right;
}

#disqus_thread{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
  
}

.opinion{
    width: 90%;
    margin: 0 auto;
    background: #EBEBEB;
   
    border-block-end-style:solid;
    border-block-end-color:#343432;
    border-block-end-width: 5px; 
    margin-bottom: 100px;

}


.opinion h3{
    background: #50B363;
    color: #FFF;
    font-weight: bold;
    margin-top: 0;
}

.opinion p{
    padding: 20px;
}

.comentarios{
    width: 90%;
    margin: 0 auto;
}

.tit-h3{
    color: #FFF;
    background: #50B363;

}

.glosario{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border-block-end-style:solid;
    border-block-end-color:#343432;
    border-block-end-width: 5px; 
    margin-bottom: 100px;

}

.glosario-colum-izq{
    float: left;
    width: 45%;
 
}

.glosario-colum-der{
    float: right;
    width: 45%;
  
}

.glosario ul{
    list-style-type: none
}
.glosario ul h4, .glosario ul p  {
    margin: 0;
}

article table {
    width: 20%;
    margin: auto auto;
    display: block;
    text-align: center;
}

article table tbody tr th{
    padding: 10px;
    margin: 5px;
} 
