@font-face{
    font-family: LibreBaskerville-Regular;
    src:url(/fuentes/LibreBaskerville-Regular.ttf);
}

@font-face{
    font-family: "Quicksand-Regular";
    src:url(/fuentes/Quicksand-Regular.ttf);
}